* {
    border:0;
    margin:0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet;
}

.container {
    display:flex;
    height: 500px;
    width: 800px;
    border: 2px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow:15px 20px 20px rgb(0, 0, 0)
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 70, 218);
}

.form h2 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 40px;
}

.box {
    padding:12px;
    width: 65%;
    margin: 15px;
    border: 1px solid black;
    border-radius: 20px;
    outline:none;
}

#submit {
    padding: 12px 30px;
    width: 40%;
    margin-top: 40px;
    background-color: black;
    color: white;
    font-weight: bold;
    border:none;
    outline:none;
    border-radius: 20px;
}

#submit:hover {
    cursor:pointer;
    background-color: #750000;
}

.form a {
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.form a:hover{
    color: #f04e4e;
}

.side {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #750000;
}

.side img {
    width: 450px;
    height: 450px;
}